* {
    font-style: italic;
}

p {
    color:aqua;
    border: 4px solid blue;
    }

@media(max-width:400px){
h1 {
   background-color: #f76f6f;
}
.centered {
    text-align: center;
}
}

@media(min-width:400px){
    h1 {
       background-color:green;
    }
    .centered {
        text-align: center;
    }
    }

#savebutton {
    background-color: grey;
    color: #f76f6f;
}